NEXT_PUBLIC_API_URL=http://localhost:8080/api
KEYCLOAK_CLIENT_ID=visaflow-app
KEYCLOAK_CLIENT_SECRET=change_me_in_prod
KEYCLOAK_ISSUER=http://localhost:18080/realms/visaflow-realm
NEXTAUTH_SECRET=supersecret
NEXTAUTH_URL=http://localhost:3000
